.section#news
  .news-wrapper
    a(href='http://blackdogs.eugenedelta.com').news-link
      .img-wrapper
        img(src='assets/img/Black_Dogs_Cover640.jpg')
      .cta-wrapper
        p Black Dogs EP
        p.button GET IT HERE
        