.bg-img
  img(src='/assets/img/back_blur_new.jpg')

.main-wrapper
  h1.main-title EUGENE DELTA
  .video
    iframe(width="560", height="420", src="https://www.youtube.com/embed/j3JBBTZa4nI", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .main-container
    .cover-container
     
      .cover

        iframe(allow="encrypted-media *;", frameborder="0", height="306", style="width:100%;max-width:660px;overflow:hidden;background:transparent;", src="https://embed.music.apple.com/us/album/blood-and-gold-single/1549735761")#dz-root.preview-box.mobile
        iframe(allow="encrypted-media *;", frameborder="0", height="526", style="width:100%;max-width:660px;overflow:hidden;background:transparent;", src="https://embed.music.apple.com/us/album/blood-and-gold-single/1549735761").preview-box.desktop
        .play-button(onclick="javascript:document.getElementById('dz-root').className += ' fadeIn';this.className += ' hidden';")
          img(src='/assets/img/playPreview.png')
          //- <iframe ></iframe>
    .content-container

      .title-container
        h2 Eugene Delta
        h1 Bad Jazz
      .link-wrapper
        .link-container
          .link-list
            .link
              a(target="_blank" href='https://eugenedelta.bandcamp.com/album/calm-down-its-over').bandcamp
                img(src='https://cdn.freelogovectors.net/wp-content/uploads/2017/01/bc-bandcamp_logo.png')
                span.button Download
            .link
              a(href='https://music.apple.com/at/album/blood-and-gold/1549735761?i=1549735763&l=en').applemusic
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_applemusic.svg')
                span.button Play
            .link
              a(href='https://open.spotify.com/track/5m9oKgpG8zjcELm57dTiI0?si=GJR37rGxTGW-qEpHRNhloQ').spotify
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_spotify.svg')
                span.button Play
            .link
              a(href='https://deezer.page.link/CQVjtUdsQiUM52gJ8').deezer
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_deezer.svg')
                span.button Play
            .link
              a(href='https://napster.com/artist/eugene-delta/album/blood-and-gold').googleplay
                img(src='https://services.linkfire.com/logo_napster_onlight.svg')
                span.button Play
            .link
              a(href='https://music.amazon.de/albums/B08THF8Q31').amazon
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_amazonmp3.svg')
                span.button Play
            
            .link
              a(href='https://music.youtube.com/watch?v=lukTWtFccus&feature=share').youtube
                img(src='https://services.linkfire.com/logo_youtubemusic_onlight.svg')
                span.button Play
  hr
  h2 BAD JAZZ
  .video
    iframe(width="560", height="420", src="https://www.youtube.com/embed/CQoadhcEch0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  //- .main-container
  //-   .cover-container
     
  //-     .cover

  //-       iframe(allow="encrypted-media *;", frameborder="0", height="306", style="width:100%;max-width:660px;overflow:hidden;background:transparent;", src="https://embed.music.apple.com/us/album/bad-jazz-single/1523349626")#dz-root.preview-box.mobile
  //-       iframe(allow="encrypted-media *;", frameborder="0", height="526", style="width:100%;max-width:660px;overflow:hidden;background:transparent;", src="https://embed.music.apple.com/us/album/bad-jazz-single/1523349626").preview-box.desktop
  //-       .play-button(onclick="javascript:document.getElementById('dz-root').className += ' fadeIn';this.className += ' hidden';")
  //-         img(src='/assets/img/playPreview.png')
          //- <iframe ></iframe>
    //- .content-container

      .title-container
        h2 Eugene Delta
        h1 Bad Jazz
      .link-wrapper
        .link-container
          .link-list
            //- .link
            //-   a(href='https://itunes.apple.com/at/album/black-dogs-ep/id1299224545?app=itunes').itunes
            //-     img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_itunes.svg')
            //-     span.button Download
            .link
              a(href='https://music.apple.com/us/album/bad-jazz-single/1523349626').applemusic
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_applemusic.svg')
                span.button Play
            .link
              a(href='https://open.spotify.com/track/3KVhNbs0BSreJlkg18ECUq').spotify
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_spotify.svg')
                span.button Play
            .link
              a(href='https://www.deezer.com/album/160508092').deezer
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_deezer.svg')
                span.button Play
            .link
              a(href='https://napster.com/artist/eugene-delta/album/bad-jazz').googleplay
                img(src='https://services.linkfire.com/logo_napster_onlight.svg')
                span.button Play
            .link
              a(href='https://music.amazon.com/albums/B08CWFTRFP?trackAsin=B08CVVMJNH&ref=dm_sh_3108-57c8-dmcp-6706-e51c0&musicTerritory=US&marketplaceId=ATVPDKIKX0DER').amazon
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_amazonmp3.svg')
                span.button Play
            
            .link
              a(href='https://music.youtube.com/watch?v=G0yoG8mViXo').youtube
                img(src='https://services.linkfire.com/logo_youtubemusic_onlight.svg')
                span.button Play
  hr
  h2 BALADA OF A RAINY FALL
  
  .video
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rHvVfHsE-34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
