.social
  .sm-link
    a(target="_blank" href='https://www.facebook.com/eugenedelta')
      img(src='./assets/img/logos/facebook.png')
    a(target="_blank" href='https://www.instagram.com/eugene.delta/')
      img(src='./assets/img/logos/instagram.png')
    a(href='mailto:contact@eugenedelta.com')
      img(src='./assets/img/logos/mail.png')